<div id="page-content-wrapper" class="container">
<h1> Default </h1>
<p>There is going to be a lot more content about Linux, Programming, and other stuff that I think it prety cool</p>

<p>I am going to make this more like a blog and a learning journal. Since I haven't built my own site before, this'll be good experience for me.</p>
</div>
