extends layout

block content
  div#page-content-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          h2= title
            p
              | Welcome to #{title} [ #{name} ]!


