// extends layout
block sidebar
  div#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
          a(href="/") -= HoMe =-
        li
          a(href="/blog") Blog
        li
          a(href="/programming") Programming
        li
          a(href="#") Overview
        li
          a(href="#") Events
        li
          a(href="#") About
        li
          a(href="#") Services
        li
          a(href="#") Contact
        // End of comment

